*{
    margin: 0 !important;
}
.bg-peli{
    background-image: url('../../assets/d.jpg');
    height: 50vw;
    background-repeat: no-repeat;
}
h2, h4{
    text-align: center;
    color: #fff;
}

.cont-peli{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.namePeli{
    width: 200px;
    height: 200px;

    color: #fff;
    text-align: center;
    list-style-type: none;
}
li{
    list-style-type: none;
}
.descripcionPeli{
    text-align: center;
    font-family: sans-serif;
    color: #fff;
}